<button class="ladda-button" {{bind-attr data-style="style" data-color="color" data-size="size" data-spinner-size="spinner-size" data-spinner-color="spinner-color"}}>
  <span class="ladda-label">
    {{yield}}
  </span>
  <span class="ladda-spinner"></span>
</button>
