<label>
  Email
  {{input type="text" value=email name="email" placeholder="test@example.com"}}
</label>

<label>
  Display Name
  {{input type="text" value=display_name name="display_name" placeholder="John & Jane Smith"}}
</label>

<label>
  Password
  {{input type="password" value=password}}
</label>

<button {{action "signUp"}}>Sign up</button>
