<form {{action "signUp" on="submit"}}>

<h3>Sign up your family</h3>
<label>
  Email
  {{input type="text" value=email name="email" placeholder="test@example.com"}}
</label>

<label>
  Family Display Name
  {{input type="text" value=displayName name="display_name" placeholder="John & Jane Smith"}}
  <p class="note">This will help your friends and relatives find you later</p>
</label>

<label>
  Password
  {{input type="password" value=password}}
</label>

{{#ladda-button style="zoom-in" color="blue" size="s" action="signUp"}}Sign up{{/ladda-button}} or {{#link-to "sessions.new"}}Sign in{{/link-to}}

</form>
