<label>
  Email
  {{input type="text" value=email name="email" placeholder="test@example.com"}}
</label>

<label>
  Display Name
  {{input type="text" value=displayName name="displayName" placeholder="John & Jane Smith"}}
</label>

<label>
  Password
  <input type="password" name="password" {{bind-attr value=password}}>
</label>

<button {{action "signUp"}}>Sign up</button>
